.header {
    display: flex;
    background-color: #000;
    color: #fff; 
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.header #phone_number{
    text-align: left;
    margin-left: 15px;

}
.header #email{
    text-align: right;
    margin-right: 15px; 
}

.header span{
    font-size: large;
}

.navbar {
    display: flex;
    height: 40px; 
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
}
.navbar span{
    color: blue;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
    animation: slideColor 5s infinite; 
}

/* Keyframes for the sliding color effect */
@keyframes slideColor {
    0% {
        color: rgb(185, 212, 29);
        transform: translateX(0);
    }
    25% {
        color: rgb(34, 12, 228);
        transform: translateX(25px); /* Slide slightly to the right */
    }
    50% {
        color: red;
        transform: translateX(25px); /* Slide slightly to the right */
    }
    75% {
        color: rgb(22, 1, 1);
        transform: translateX(25px); /* Slide slightly to the right */
    }
    100% {
        color: rgb(13, 199, 91);
        transform: translateX(0); /* Return to original position */
    }
}
.navbar ul {     
    padding: 0px 40px; 
    display: flex; 
    align-items: center;
    text-align: right;
}
.navbar li {
    display: inline-block;
    margin: 0 15px;
    text-align: right;
} 

.nav {
    height: 650px;
    background-image: url('https://purepng.com/public/uploads/large/businessman-bow.png');
    background-repeat: no-repeat;  
    background-position-x: right;
    background-size: 700px;
    background-color: rgb(92, 194, 241);
    }

.company_name{
        margin-left: 30px;
        font-size: 90px;
        font-weight: bold; 
        width: 60%;
    }

.Services{
   text-align: center;
   font-size: 30px;
   margin-bottom: 50px;
}
.Services-card{
    display: flex;
    justify-content: center;
    gap: 40px; 
}
.Services-card .card{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #a11616;
}
.card img{
    height: 150px;
    width: 140px;
}